@model IEnumerable<PruebaJOIN.Models.UsuarioXCiudadCE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UsuarioXCiudad</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            Observaciones
        </th>
        <th>
            NombreCiudad
        </th>
        <th>
            NombreUsuario
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Obervaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCiudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreUsuario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id= item.Id }) |
            @Html.ActionLink("Detalles", "DetallesUserciu", new { id= item.Id }) |
            @Html.ActionLink("Eliminar", "EliminarUserCiu", new { id= item.Id }, new { @class = "aElimina"})
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        $(".aElimina").click(function (event) {
            if (!confirm('Estas seguro de eliminar ?')) {
                event.preventDefault();
            }
        });
    </script>
}
